<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="Write review">

  <ion-content ng-controller="ReviewController" on-swipe-right="onSwipeRight()" on-swipe-down="submitComments()" class="slide-left-right">
<!--     <rating class="rating" ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating> -->

    <rating ng-model="rate" max="max"></rating>

    <div class="review card">
      <label class="item item-input">
        <textarea rows=10 cols=10 placeholder="tell us about your opinion" ng-model="comments"></textarea>	
      </label>
    </div>
    <div class="submit">
	    <button class="button button-calm button-block" ng-click="submitComments()">
	      Submit
	    </button>
    </div>
  </ion-content>

</ion-view>
