h1.title {
  font-weight: bold;
}

.splash-wallpaper {
  background: url("../../assets/sf_transit_map.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/*
.calm:                            #096666 !default;
.positive:                        #008080 !default;
*/

h2, h3, h4, h5, h6 {
  top:0;
  color: #fff;
  background-color: #43cee6;
  text-align: center;
  font-weight: 300;
}